<section class="separator" xmlns="http://www.w3.org/1999/html">
  <div class="vertical-center sun">
    <div class="container">
      <div class="row">
        <div class="action">
          <div class="col-sm-12">
            <h1 class="title">About Me</h1>
            <!--<p>Why our Clients love to work with us.</p>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--/#page-breadcrumb-->

<section class="wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
  <div class="padding-top container" id="research">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="title-strong text-left wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">Research</h2>
        <p class="text-justify wow fadeInDown" data-wow-duration="400ms" data-wow-delay="400ms">
          My research interests are in computer security, cyber-physical systems/Internet of Things (IoT).
          I have worked in <a href="https://www.nsf.gov/funding/pgm_summ.jsp?pims_id=505277" target="_blank">
            CRISP project</a>, studying the cyber security issues in the transportation domain, on a
          honeypot for IoT project. More recently I have focused on studying
          Secure Software Development practices through collaboration with
          industry.
        </p>
      </div>
    </div>
  </div>

<!-- *******************************************************************************************************************
PUBLICATIONS
******************************************************************************************************************** -->
  <div class="padding-top container" id="publications">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="title-strong text-left wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">Publications</h2>

        <!--list from services page.-->
        <!--  Publications list -->
        <ul class="elements">
          {% for pub in site.data.publications %}
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i class="fa fa-angle-right"></i>
              <strong>
                <a href="{{ pub.pdf }}" target="_blank">
                  {{pub.title}}
                </a>
              </strong>
              <span> {{ pub.authors }} </span>
              <span class="italic">{{ pub.details }}</span>

              <span>
                  <a href="{{ pub.pdf }}" target="_blank">
                    <i class="fa fa-file-pdf-o fa-fw"></i>
                  </a>
                {% if pub.link %}
                  <a href="{{ pub.link }}" target="_blank">
                    <i class="fa fa-link fa-fw"></i>
                  </a>
                {% endif %}
                </span>
            </li>
          {% endfor %}
        </ul>
          <!--
          <li class="wow fadeInUp" data-wow-duration="800ms" data-wow-delay="200ms"><i class="fa fa-angle-right"></i> scrambled it to make a type specimen book.</li>
          <li class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms"><i class="fa fa-angle-right"></i> scrambled it to make a type specimen book.</li>
          <li class="wow fadeInUp" data-wow-duration="600ms" data-wow-delay="400ms"><i class="fa fa-angle-right"></i> scrambled it to make a type specimen book.</li>
          <li class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms"><i class="fa fa-angle-right"></i> but also the leap into electronic typesetting.</li>-->
        </ul>
      </div>
    </div>
  </div>

<!-- *******************************************************************************************************************
POSTERS
******************************************************************************************************************** -->
  <div class="padding-top container" id="posters">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="title-strong text-left wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">Posters and Presentations</h2>

        <!--list from services page.-->
        <!--  Publications list -->
        <ul class="elements">
          {% for pub in site.data.posters %}
          <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i class="fa fa-angle-right"></i>
            <strong>
              <a href="{{ pub.pdf }}" target="_blank">
                {{pub.title}}
              </a>
            </strong>
            <span> {{ pub.authors }} </span>
            <span class="italic">{{ pub.details }}</span>

            <span>
                  <a href="{{ pub.pdf }}" target="_blank">
                    <i class="fa fa-file-pdf-o fa-fw"></i>
                  </a>
                {% if pub.link %}
                  <a href="{{ pub.link }}" target="_blank">
                    <i class="fa fa-link fa-fw"></i>
                  </a>
                {% endif %}
                </span>
          </li>
          {% endfor %}
        </ul>

        <!--list from services page.-->
<!--        <ul class="elements">-->
          <!--<li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i class="fa fa-angle-right"></i>
            Anwesh T. <strong> <a href="resources/iise-2018.pdf" target="_blank">Cyber Security Challenges in Transportation Systems. </a> </strong>
            <span class="italic">Institute of Industrial and Systems Engineers (IISE), 2018.</span>
          </li>
          <li class="wow fadeInUp" data-wow-duration="800ms" data-wow-delay="200ms"><i class="fa fa-angle-right"></i>
            Anwesh T. <strong> <a href="resources/its-2017.pdf" target="_blank">Intelligent Transportation Systems. </a> </strong>
            <span class="italic">Board of Governors (BoG) meeting, June 2017.</span>
          </li>-->

          <!--
          <li class="wow fadeInUp" data-wow-duration="800ms" data-wow-delay="200ms"><i class="fa fa-angle-right"></i> scrambled it to make a type specimen book.</li>
          <li class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms"><i class="fa fa-angle-right"></i> scrambled it to make a type specimen book.</li>
          <li class="wow fadeInUp" data-wow-duration="600ms" data-wow-delay="400ms"><i class="fa fa-angle-right"></i> scrambled it to make a type specimen book.</li>
          <li class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms"><i class="fa fa-angle-right"></i> but also the leap into electronic typesetting.</li>-->
<!--        </ul>-->
      </div>
    </div>
  </div>

<!-- *******************************************************************************************************************
EDUCATIONS
******************************************************************************************************************** -->
  <div class="padding-top container" id="education">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="title-strong text-left wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">Education</h2>
        <ul class="elements">

          <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms">
            <h3><i class="fa fa-angle-right red"></i> University of South Florida, Tampa, FL</h3>
            <span class="italic">Ph.D. in Computer Science</span>, Present.
          </li>

          <li class="wow fadeInUp" data-wow-duration="800ms" data-wow-delay="200ms">
            <h3><i class="fa fa-angle-right red"></i> Kathmandu Engineering College, Kathmandu, Nepal</h3>
            <span class="italic">Bachelors in Electronics And Communication Engineering</span>, 2013
          </li>

          <li class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
            <h3><i class="fa fa-angle-right red"></i> St. Xavier's College, Maitighar, Kathmandu, Nepal</h3>
            <span class="italic">I.Sc. in Physics</span>, 2009
          </li>

          <li class="wow fadeInUp" data-wow-duration="600ms" data-wow-delay="400ms">
            <h3><i class="fa fa-angle-right red"></i> St. Xavier's School, Jawalakhel, Lalitpur, Nepal</h3>
            <span class="italic">SLC</span>, 2007
          </li>
          <!--<li class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms"><i class="fa fa-angle-right"></i> but also the leap into electronic typesetting.</li>-->
        </ul>
      </div>
    </div>
  </div>

<!-- *******************************************************************************************************************
WORK EXPERIENCE
******************************************************************************************************************** -->
  <div class="padding-top container" id="work">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="title-strong text-left wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">Work Experience</h2>
        <ul class="elements">
          <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms">
            <h3><i class="fa fa-angle-right red"></i>
              <a href="https://www.facebook.com" target="_blank">
                  Facebook
              </a>, Seattle, WA</h3>
            <span class="italic">Software Engineering Intern</span>, January 2021 - April 2021.
            <p class="text-justify" >
                Intern in the Product Security Program Analysis Team.
            </p>
          </li>

          <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="200ms">
              <h3><i class="fa fa-angle-right red"></i> Security Operations Center (SOC), University of South Florida </h3>
              <span class="italic">Research Intern</span>, Fall 2016 - Spring 2020.
              <p class="text-justify" >
                  I am writing automation scripts for network analytics work.
              </p>
          </li>

          <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms">
            <h3><i class="fa fa-angle-right red"></i>
              <a href="https://www.synopsys.com/software-integrity/security-testing/static-analysis-sast.html" target="_blank">
                Synopsys Software Integrity
              </a>, San Francisco, CA </h3>
            <span class="italic">Technical Intern</span>, May 2018 - August 2018.
            <p class="text-justify" >
              Worked in the Coverity static analysis team.
              Prototyped a client-side DOM-XSS checker for javascript by tracking possible dataflows through the DOM.
            </p>
          </li>


          <li class="wow fadeInUp" data-wow-duration="800ms" data-wow-delay="300ms">
            <h3>
              <i class="fa fa-angle-right red"></i>
              <a href="http://www.deerwalk.com/" target="_blank"> Deerwalk Services </a>, Kathmandu, Nepal | Main Office: Lexington, MA
            </h3>
            <span class="italic">Software Engineer</span>, November 2013 - December 2015
            <p class="text-justify" >
              Back-end developer in Benecore Project: Benecore is an innovative software solution designed to work
              in the Health care domain.
            </p>
            <p class="text-justify" >
              I designed and implemented webservice for medical and financial data analytics and report generation tolls in grails with
              Elasticsearch and MySQL as backend databases. I also assisted in deployment of the applications into Amazon EC2 servers.
              I also implemented python scripts to regularly sync data between the Benecore web application and a legacy accounting software.
            </p>
          </li>

          <li class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="400ms">
            <h3>
              <i class="fa fa-angle-right red"></i>
              <a href="http://www.dwit.edu.np/" target="_blank">Deerwalk Institute of Technology</a>, Kathmandu, Nepal
            </h3>
            <span class="italic">Numerical Method Instructor</span>, December 2014 - December 2015
            <p class="text-justify" >
            I conducted the Numerical Methods practical sessions for B.Sc. IT students (Sophomore year).
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

<!-- *******************************************************************************************************************
PROJECTS
******************************************************************************************************************** -->
  <div class="padding-top container" id="projects">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="title-strong text-left wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">Projects</h2>
        <ul class="elements">

          <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms">
            <h3>
              <i class="fa fa-angle-right red"></i>
              <a href="http://www.vacommunity.org/VAST+Challenge+2017" target="_blank">VAST Mini-challenge 2017</a>, Summer 2017
            </h3>
            <p class="text-justify" >
              Participated in VAST mini-challenge 2017. Developed a data pre-processor tool in Apache Spark and a visualization tool in Processing 3
              which reads an image map, converts it to an undirected graph and plots paths as a subway map and integrated with Tableau. I received mixed reviews for the tool with
              the scores of 4 (Good), 4, 3(Average), 3.
            </p>
            <p>
              Links to:
              <a href="resources/vast-summary-2017.pdf" target="_blank"> Summary</a>,
              <a href="https://www.youtube.com/watch?v=c3DY_hK7NhQ&feature=youtu.be" target="_blank"> Video</a>
            </p>
          </li>

          <li class="wow fadeInUp" data-wow-duration="800ms" data-wow-delay="200ms">
            <h3>
              <i class="fa fa-angle-right red"></i>
              Compiler Design for an Object Oriented Language (Diminished Java), Fall 2016
            </h3>
            <p class="text-justify" >
              Developed a Turing complete Object Oriented Programming Language for Compilers course.
            </p>
          </li>

          <li class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
            <h3>
              <i class="fa fa-angle-right red"></i>
              <a href="https://www.yelp.com/dataset/challenge" target="_blank">Yelp Dataset Challenge 2016</a>, Spring 2016
            </h3>
            <p class="text-justify" >
              Developed a Spark application using StanfordNLP library to analyse businesses from Yelp dataset based on their user
              reviews, locations, and user communities as a final project for Parallel and Distributed Systems course.
            </p>
          </li>

          <li class="wow fadeInUp" data-wow-duration="600ms" data-wow-delay="400ms">
            <h3>
              <i class="fa fa-angle-right red"></i>
              Particle Simulation, Spring 2016
            </h3>
            <p class="text-justify" >
              Optimized a simple serial particle simulator using 3 different techniques: OpenMP, MPI and GPU in the Stampede super
              computer as a part of Parallel and Distributed Systems course.
            </p>
          </li>

          <li class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
            <h3>
              <i class="fa fa-angle-right red"></i>
              Accelerometer Based Glove Mouse, Kathmandu Engineering College 2013
            </h3>
            <p class="text-justify" >
              Designed and developed an Accelerometer based Glove Mouse using AVR and ARM based micro-controllers. Used AVR
              studio and Arduino Sketch IDEs for the same.
            </p>
            <p>
              This project was selected for demonstration at the Army Technical Expo.
            </p>
          </li>

          <li class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="600ms">
            <h3>
              <i class="fa fa-angle-right red"></i>
              Car Security System, Kathmandu Engineering College 2012
            </h3>
            <p class="text-justify" >
              Designed and implemented a Car Security System with PIR motion sensor using AVR based Micro-controller.
            </p>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>
