<section id="home-slider">
  <div class="container">
    <div class="row">
      <div class="main-slider">
        <div class="slide-text">
          <h1>Anwesh Tuladhar</h1>
          <p>
          
            I am a Ph.D. candidate under <a href="http://www.cse.usf.edu/~xou/" target="_blank"> Dr. Xinming (Simon) Ou </a>
            in the Department of Computer Science and Engineering at University of South Florida.
            
          </p>
          <!--<a href="#" class="btn btn-common">SIGN UP</a>-->

          {% include social-media.html %}

        </div>
       
        <!--<img src="images/at.jpg" class="profile-img wow fadeInDown" alt="slider image">-->
        <img src="images/at.jpg" class="slider-hill img-rounded" alt="slider image">
        <!--<img src="images/home/slider/hill.png" class="slider-hill" alt="slider image">
        <img src="images/home/slider/house.png" class="slider-house" alt="slider image">
        <img src="images/home/slider/sun.png" class="slider-sun" alt="slider image">
        <img src="images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
        <img src="images/home/slider/birds2.png" class="slider-birds2" alt="slider image">-->
      </div>
    </div>
  </div>
  <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
</section>
<!--/#home-slider-->

<div class="post-bottom overflow">
</div>