<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center bottom-separator">
        <img src="images/home/under.png" class="img-responsive inline" alt="">
      </div>

      <div class="col-md-4 col-md-offset-4 col-sm-4">
        <div class="contact-info bottom">
          <h2>Contacts</h2>
          <address>
            ENB 226 <br>
            University of South Florida <br>
            Tampa, FL, 33620 <br>
            USA

            <br>
            E-mail: <a href="mailto:anwesh.tuladhar@gmail.edu">anwesh.tuladhar@gmail.com</a>, <a href="mailto:atuladhar@mail.usf.edu">atuladhar@mail.usf.edu</a>

          </address>

          {% include social-media.html %}

          <!--
          <br>
          Phone: +1 (123) 456 7890 <br>
          Fax: +1 (123) 456 7891 <br>-->
        </div>
      </div>

      <div class="col-sm-12">
        <div class="copyright-text text-center">
          <p>&copy; Anwesh Tuladhar 2018.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--/#footer-->

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/lightbox.min.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>