<header id="header">
  <div class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li class="active"><a href="index.html">Home</a></li>

          <li><a href="/#research">Research</a></li>
          <li><a href="/#publications">Publications</a></li>
<!--          <li><a href="/#posters">Posters</a></li>-->
          <li><a href="/#education">Education</a></li>
          <li><a href="/#work">Work Experience</a></li>
          <li><a href="/#projects">Projects</a></li>

        </ul>

        <!--<div class="social-icons pull-right">
          <ul class="nav nav-pills">
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>-->

      </div>
    </div>
  </div>
</header>
<!--/#header-->
